*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(255, 157, 157);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 64px;

}
.menu-itens a img{
width: 40px;
}